@font-face {
  font-family: 'League Spartan';
  src: url('/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}